<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../media/engineering.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">    

    <link rel="stylesheet" href="../style.css">
    <title>LINK Lab</title>

    <style>
        #selection, #confirmdiv {
            text-align: center;
        }

        #content {
            padding: 100px 0;
            background-color: rgba(128, 128, 128, 0.322);
        }
    </style>

    <script type="text/javascript">
        function submit() {
            var e = document.getElementById("professors");
            var value = e.value;
            var prof = e.options[e.selectedIndex].text;

            document.getElementById("confirmation").innerHTML = "You have selected " + prof;
            var x = document.getElementById("confirmationbutton")
            x.style.visibility = "visible";
        }
    </script>
    
   <script type="text/javascript" src="../ros-functions.js"></script>
</head>

<body>
    <div id="nav">
        <a href="../index.html"><button class="btn" id="back">Go Back</button></a>
    </div>

    <div style="padding: 70px;"></div>

    <div id="content" class="card">
        <div id="selection">
            <h1>Which professor would you like to see?</h1>
            <!--<div id="professors" class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Make a selection
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href='#' value="iqbal">Professor Iqbal</a></li>
                    <li><a class="dropdown-item" href='#' value="behl">Professor Behl</a></li>
                    <li><a class="dropdown-item" href='#' value="bezzo">Professor Bezzo</a></li>
                </ul>
            </div>-->
            <select id="professors" name="professors">
                <option value="iqbal">Professor Iqbal</option>
                <option value="behl">Professor Behl</option>
                <option value="bezzo">Professor Bezzo</option>
            </select> 
            <button class="btn btn-primary" onclick="submit()">Submit</button>      
        </div>

        <div id="confirmdiv">
            <h2 id="confirmation"></h2>
            <button id="confirmationbutton" class="btn btn-primary" style="visibility: hidden" onclick="sendgoal(document.getElementById('professors'))">
                Press here to confirm</button>
        </div>        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>